.idea/*
*workspace*
test_*.py
screenshot
log
account*.dat
__pycache__/*
*.pyc
dist
build
lyb.cfg*
node_modules
yarn.lock
pip-user.json
*.vbs
dogfootermacro_main.py
dogfootermacro_maker.py
dogfootermaker/
mainwindow.cpp
mainwindow.h
mainwindow.ui

